html,
body {
  height: 100%;
  margin: 0%;
  padding: 0%;
  background-color: #333;
  overflow-y: hidden;
}
body {
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
  box-shadow: inset 0 0 5rem rgb(0 0 0 / 50%);
}
body .wrapper {
  height: 100%;
  width: 75%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

/*---------------------------- HEADER ----------------------------*/
.header {
  min-height: 10%;
  height: auto;
  display: flex;
  align-self: center;
  text-align: center;
}
.header .header-content {
  align-self: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

/*---------------------------- CONTENT ----------------------------*/
.content {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  gap: 30px;
}

/*---------------- TOP ----------------*/
.content .content-top {
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
/*------- LEFT -------*/
.content .content-top .top-left {
  flex: 1 1 0px;
  border: 2px solid white;
  box-shadow: inset 0 0 2rem rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
}
#my-carrier-canvas {
  width: 100%;
  height: auto;
}
/*------- CENTER -------*/
.content .content-top .top-center {
  flex: 1 1 0px;
}
/*------- RIGHT -------*/
.content .content-top .top-right {
  flex: 1 1 0px;
  border: 2px solid white;
  box-shadow: inset 0 0 2rem rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
}
#control-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.carrier-panel {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.message-panel {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.control-panel-title {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 14px;
}
.signal-parameter-title {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 10px;
}

/*----------------  CENTER ---------------- */
.content .content-center {
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
/*------- LEFT -------*/
.content .content-center .center-left {
  flex: 1 1 0px;
  border: 2px solid white;
  box-shadow: inset 0 0 2rem rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
}
#my-message-canvas {
  width: 100%;
  height: auto;
}
/*------- CENTER -------*/
.content .content-center .center-center {
  flex: 1 1 0px;
  border: 2px solid white;
  box-shadow: inset 0 0 2rem rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
}
#my-modulated-canvas {
  width: 100%;
  height: auto;
}
/*------- RIGHT -------*/
.content .content-center .center-right {
  flex: 1 1 0px;
  border: 2px solid white;
  box-shadow: inset 0 0 2rem rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
}
#my-demodulated-canvas {
  width: 100%;
  height: auto;
}
/*---------------- BOTTOM ---------------- */
.content .content-bottom {
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
/*------- LEFT -------*/
.bottom-left {
  flex: 1 1 0px;
}
/*---- CENTER ----*/
.content .content-bottom .bottom-center {
  flex: 1 1 0px;
}
/*---- RIGHT ----*/
.content .content-bottom .bottom-right {
  flex: 1 1 0px;
  border: 2px solid white;
  box-shadow: inset 0 0 2rem rgb(0 0 0 / 20%);
  display: flex;
  flex-direction: column;
  min-height: 12vh;
  max-height: 15vh;
}
/*-- S/N --*/
.slider-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider {
  width: 80%;
  height: 20px;
  opacity: 0.7;
}
.slider:hover {
  opacity: 1;
}
.slider-counter {
  font-size: 1rem;
  color: white;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/*------------  SINGLE BLOCK DEPENDENCIES ------------ */
.block-title {
  height: auto;
  color: white;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 1px;
}
.block-content {
  height: 100%;
  padding-top: 4px;
}
.block-footer {
  height: auto;
  display: flex;
}
.footer-button {
  flex-grow: 1;
  border-color: transparent;
  color: #333;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  height: 25px;
}
.footer-button:hover {
  border-color: #333;
  background-color: gainsboro;
}

/*---------------------------- SITEFOOTER ----------------------------*/
.footer {
  min-height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3px;
  margin-top: auto;
}
.footer-content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
.footer img {
  padding: 0;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

/*---------------------------- KEY-FRAMES ----------------------------*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
